@import './universal-styles.scss';

//adjusted sizes slightly for better fit on screen

.cards-container {
	.cards{
		display: grid;
		gap:25px;
		grid-template-columns: repeat( auto-fit, minmax(300px, 1fr) );
		.card:hover{
				box-shadow:0 0 15px 1px $blue;
		}
	}
	.cardTop{
		height:175px;
		color:white;
		.cardTop__dropDate {
			font-family: Roboto;
			position:relative;
			top:20px;
			left:25px;
			h3{
				font-size: 16px;
			}
			p{
				font-family: Roboto;
				color: #B5B5B5;
				font-size: 13px;
				font-weight: 400;
			}
		}
		.cardTop__player{
			position: relative;
			top:40px;
			text-align: center;
			.name {
				font-family: Roboto;
				text-transform: uppercase;
				font-size: 22px;
				font-weight: 800;
			}
			.link{
				font-family: Roboto;
				font-size: 16px;
				font-style: italic;
				a{
					color:white;
				}
				img {
					position:relative;
					top:5px;
				}
			}
		}
	}
	& > h3{
			color:white;
			text-transform: uppercase;
			text-align: center;
			font-family: 'Montserrat';
			font-weight: 800;
			font-size: 18px;
			line-height: 22px;
			margin-top:90px;
	}
	.load-more {
		color:#3082F9;
		text-transform: uppercase;
		font-size: 18px;
		text-align: center;
		margin-top:75px;
		margin-bottom: 75px;
		&:hover{
			color:white;
			cursor: pointer;
		}
	}
}


//Media Queries 
@media screen and(max-width:1150px){
	.cards-container .cards{
		grid-template-columns: repeat( auto-fit, minmax(200px, 1fr) );
	}
}

// Mobile 
@media screen and(max-width:605px){
	.cards-container .cards{
		grid-template-columns: repeat( auto-fit, minmax(200px, 1fr) );
	}
}





